.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 443px;
  height: 407px;
  margin: 23px auto 0 -28px;
}

.u-section-1 .u-text-1 {
  margin: -407px 86px 0 524px;
}

.u-section-1 .u-image-2 {
  width: 415px;
  height: 197px;
  margin: 82px auto 46px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 411px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 191px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 11px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 340px;
    height: 312px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -312px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 162px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 619px;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 537px;
  margin: 32px -68px 51px 68px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 0;
  }
}