 .u-section-1 {
  background-image: url("images/7.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 743px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 613px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 470px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 353px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 222px;
  }
}